#overlay {
	@include span-columns(8);
	@include pre(2);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000000;
	margin-top: 70px;
	border: 3px solid red;
	padding: 8%;
	background-color: white;
	opacity: 0.9;
	line-height: 1.5em;
	font-size: .7em;

	h3, ul{
		margin-bottom: 10px;
	}
	ol {
		overflow: hidden;
	}

	#clickable {
		position: absolute;
		right: 20px;
		top: 20px;
	}
}
div.blurry {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity = 50); /* required for opacity to work in IE */
}