.sidebar {
	background-color: #555;

	h2 {
		//text-align: center;
		padding: 10px 0px 10px 8px;
		border-top: 2px solid white;
		color: white;
	}
	ul {
		padding: 10px 0px 10px 10px;
		text-align: left;
		background-color: #BBB;
		border-top: 2px solid white;
		li {
			a {
				color: #008000;
			}
		}
	}
	img {
		margin-bottom: -4px;
	}
	input[type="checkbox"]{
		margin-bottom: 0px;
		width: 15px;
	}
}
.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}
